.group_info{
    background-color: #fff;
    margin-top: 13px;
    border-radius: 5px;
    box-shadow: -1px -1px 0px 0px var(--border-shadow-color) inset;
    border: 1px solid var(--border-shadow-color);
}

.header{
    padding: 14px 20px;
    border-bottom: 1px solid var(--border-color);
}

.header_title{
    font-size: 19px;
}

.header_text{
    font-size: 13px;
}

.a{
    border-bottom: 1px solid var(--border-color);
}

.a_text {
  padding: 18px 21px 16px;
}

.info {
    padding: 16px 18px;
}

.uploads {
  display: flex;
  gap: 9px;
  flex-direction: column;
}

.upload {
  display: flex;
  gap: 8px;
  align-items: center;
}

.upload_text{
  font-size: 13px;
}

.upload_link{
    font-size: 13px;
    color: var(--link-color);
}