.form {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px 10px;
}

.title{
  color: var(--secondary-color);
  margin: 10px;
}

.post_title , .post_content {
  width: 90%;
  resize: none;
  background-color: transparent;
  border-bottom: 1px solid var(--border-shadow-color);
  margin: 5px 10px;
  padding: 10px;
  color: var(--secondary-color);
}

.cover{
  width: 45%;
  border-radius: 7px;
}

.handlers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload {
  margin: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.upload label{
    display: grid;
    place-items: center;
    cursor: pointer;
}

.upload label input{
    display: none;
}

.btn{
  padding: 6px 12px;
  border-radius: 5px;
  background-color: var(--primary-color);
  margin-top: 16px;
  color: #fff;
}

.btn:hover {
  background-color: var(--secondary-color);
}