.replies{
  padding: 10px;
}

.wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}


.comment{
  display: flex;
  gap: 10px;
  padding: 5px;
  border-top: 1px solid var(--border-shadow-color);
}

.comment_avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.content{
  font-size: 15px;
  margin: 5px 0;
  color: var(--secondary-color);
}

.fullname{
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary-color);
}

.comment_content {
    width: 90%;
    resize: none;
    background-color: transparent;
    border: 1px solid var(--border-shadow-color);
    border-radius: 8px;
    margin: 5px 10px;
    padding: 10px;
    color: var(--secondary-color);
  }


  .btn{
    padding: 6px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    display: grid;
    place-items: center;
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
  }

