.post{
    padding: 15px 20px 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0px -1px 0px 0px var(--border-shadow-color) inset;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name{
    color: var(--link-color);
    font-size: 13px;
}

.date{
  color: var(--grey-color);
  font-size: 12.5px;
}

.content {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 8px 0;
}

.title{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

.text{
    font-size: 13px;
    color: #000;
    line-height: 146.2%; 
}

.cover{
    border-radius: 5px;
}